/* Home.css */
.home-container {
  padding-top: 60px; 
}

.edit-form {
  margin-top: 20px;
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1; 
}