.home-container {
  padding-top: 60px; 
}

.trips-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.trip-card {
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
}

.edit-form, .trip-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.edit-entry {
  display: flex;
  gap: 10px;
}

.save-button, .cancel-button, .edit-button, .delete-button, .create-trip-button {
  margin-top: 10px;
}
